.header{
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #a7b2e2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper {
    margin: 20px;
  }
  

.job {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #a7b2e2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 .section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #eada9b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job h3 {
margin-top: 0;
}

.job ul {
margin-left: 20px;
margin-bottom: 10px;
text-align: justify;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
.section {
flex-direction: column;
align-items: center;
}

.job {
width: 100%;
}
}