body {
	font-family: sans-serif;
	background-color: #e0e0e0;
}

h1 {
	text-align: center;
	color: #333;
}

#game-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.game-btn {
	font-size: 18px;
	padding: 10px 20px;
	margin: 0 10px;
	background-color: #fff;
	color: #333;
	border: 2px solid #333;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.game-btn:hover {
	background-color: #333;
	color: #fff;
}

.result-msg {
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
	text-align: center;
}